{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="{% url 'index' %}"><img src="{% static 'images/logo_loto.png' %}" alt="Loto Logo"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Accueil</a></li>
                    <li><a href="{% url 'generate_loto_numbers' %}">Générateur grilles Loto</a></li>
                    <li><a href="{% url 'generate_euroMillion_numbers' %}">Générateur grilles EuroMillion</a></li>
                    <li><a href="{% url 'contact' %}">Nous contacter</a></li>
                </ul>
            </nav>
            <div class="account">
                <a href="#">Connexion</a>
            </div>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    

    <footer>
        <div class="footer-container">
          <div class="footer-links">
            <a href="#">A propos</a>
            <a href="#">Conditions d'utilisation</a>
            <a href="#">Politique de confidentialité</a>
            <a href="{% url 'contact' %}">Nous contacter</a>
          </div>
          <div class="footer-copyright">
            Copyright {{ year|date:"Y" }} - Mon site Loto
            <!-- <p>Date: {{year|date:'D j F Y'}}</p> -->
          </div>
        </div>
      </footer>
</body>
</html>