{% extends 'loto/base.html' %}
{% load static %}

{% block title %}Tirages{% endblock %}

{% block content %}

<h1>Générateur de grille aléatoire du Loto !</h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    let newRandomNumbersURL = "{% url 'generate_NewRandomLotoNumbers' %}";
</script>
<script type="text/javascript" src="{% static 'javascript/myscripts.js' %}"></script>


<p>
    <div class="background_tirages" id="background_tirages">
        <img src="{% static 'images/background_tirages_loto.png' %}">

        <div class = "numeros">
            <div class="numero_1_loto" id="numero_1_loto_random">
                {{ random_tirage_loto.0 }}
            </div>
            <div class="numero_2_loto" id="numero_2_loto_random">
                {{ random_tirage_loto.1 }}
            </div>
            <div class="numero_3_loto" id="numero_3_loto_random">
                {{ random_tirage_loto.2 }}
            </div>
            <div class="numero_4_loto" id="numero_4_loto_random">
                {{ random_tirage_loto.3 }}
            </div>
            <div class="numero_5_loto" id="numero_5_loto_random">
                {{ random_tirage_loto.4 }}
            </div>
            <div class="numeroChance_1_loto" id="numeroChance_1_loto_random">
                {{ random_tirage_loto.5 }}
            </div>
        </div>
    </div>
    <button id="generate_random_loto_numbers">Générer</button>
</p>

<h1>Les numéros les plus sortis depuis le début Loto !</h1>

<p>
    <div class="background_tirages" id="background_tirages">
        <img src="{% static 'images/background_tirages_loto.png' %}">

        <div class = "numeros">
            <div class="numero_1_loto" id="numero_1_loto_top">
                {{ top_numbers.0 }}
            </div>
            <div class="numero_2_loto" id="numero_2_loto_top">
                {{ top_numbers.1 }}
            </div>
            <div class="numero_3_loto" id="numero_3_loto_top">
                {{ top_numbers.2 }}
            </div>
            <div class="numero_4_loto" id="numero_4_loto_top">
                {{ top_numbers.3 }}
            </div>
            <div class="numero_5_loto" id="numero_5_loto_top">
                {{ top_numbers.4 }}
            </div>
            <div class="numeroChance_1_loto" id="numeroChance_1_loto_top">
                {{ top_numbersChance.0 }}
            </div>
        </div>
    </div>
</p>

<h1>Les numéros les moins joués depuis le début Loto !</h1>

<p>
    <div class="background_tirages" id="background_tirages">
        <img src="{% static 'images/background_tirages_loto.png' %}">

        <div class = "numeros">
            <div class="numero_1_loto" id="numero_1_loto_least">
                {{ least_numbers.0 }}
            </div>
            <div class="numero_2_loto" id="numero_2_loto_least">
                {{ least_numbers.1 }}
            </div>
            <div class="numero_3_loto" id="numero_3_loto_least">
                {{ least_numbers.2 }}
            </div>
            <div class="numero_4_loto" id="numero_4_loto_least">
                {{ least_numbers.3 }}
            </div>
            <div class="numero_5_loto" id="numero_5_loto_least">
                {{ least_numbers.4 }}
            </div>
            <div class="numeroChance_1_loto" id="numeroChance_1_loto_least">
                {{ least_numbersChance.0 }}
            </div>
        </div>
    </div>
</p>

{% endblock %}