{% extends 'loto/base.html' %}
{% load static %}

{% block title %}Accueil{% endblock %}

{% block content %}
<h1>Bienvenue sur notre site de Loto !</h1>

<div id="accueil">
    <p>Notre site vous propose de découvrir l'univers passionnant des jeux de loterie en ligne, 
        avec un focus particulier sur le célèbre jeu de Loto.</p>
    <p>Vous pourrez ici générer des grilles aléatoires, consulter les résultats des derniers tirages, 
        découvrir les numéros les plus et les moins sortis, et bien plus encore !</p>
    <p>N'hésitez pas à explorer notre site pour en découvrir toutes les fonctionnalités et à tenter votre chance au Loto !</p>
</div>

<script type="text/javascript" src="{% static 'javascript/myscripts.js' %}"></script>

<h2>Le dernier tirage Loto du {{ loto.date_de_tirage }} !</h2>

<div class="background_tirages" id="background_tirages">
    <img src="{% static 'images/background_tirages_loto.png' %}">

    <div class = "numeros">
        <div class="numero_1_loto" id="numero_1_random">
            {{ loto.boule_1 }}
        </div>
        <div class="numero_2_loto" id="numero_2_random">
            {{ loto.boule_2 }}
        </div>
        <div class="numero_3_loto" id="numero_3_random">
            {{ loto.boule_3 }}
        </div>
        <div class="numero_4_loto" id="numero_4_random">
            {{ loto.boule_4 }}
        </div>
        <div class="numero_5_loto" id="numero_5_random">
            {{ loto.boule_5 }}
        </div>
        <div class="numeroChance_1_loto" id="numeroChance_1_random">
            {{ loto.numero_chance }}
        </div>
    </div>
</div>

<h2>Le dernier tirage EuroMillion du {{ euroMillion.date_de_tirage }} !</h2>

<div class="background_tirages" id="background_tirages">
    <img src="{% static 'images/background_tirages_euroMillion.png' %}">

    <div class = "numeros">
        <div class="numero_1_euroMillion" id="numero_1_random">
            {{ euroMillion.boule_1 }}
        </div>
        <div class="numero_2_euroMillion" id="numero_2_random">
            {{ euroMillion.boule_2 }}
        </div>
        <div class="numero_3_euroMillion" id="numero_3_random">
            {{ euroMillion.boule_3 }}
        </div>
        <div class="numero_4_euroMillion" id="numero_4_random">
            {{ euroMillion.boule_4 }}
        </div>
        <div class="numero_5_euroMillion" id="numero_5_random">
            {{ euroMillion.boule_5 }}
        </div>
        <div class="numeroChance_1_euroMillion" id="numeroChance_1_random">
            {{ euroMillion.numero_chance_1 }}
        </div>
        <div class="numeroChance_2_euroMillion" id="numeroChance_2_random">
            {{ euroMillion.numero_chance_2 }}
        </div>
    </div>
</div>

{% endblock %}